apiVersion: v1
kind: Config
clusters:
- cluster:
    server: "https://192.168.59.104:8443"
    certificate-authority: "/root/ca.crt"
  name: mycluster
  
contexts:
- context:
    cluster: mycluster
    user: vimal
  name: myc
 
current-context: "myc"

users:
- name: vimal
  user:
    client-key: "/root/client.key"
    client-certificate: "/root/client.crt"
